<main role="main">
	<div class="jumbotron text-center">
		<div class="container">
			<h1 class="display-3">Welcome to my blog!</h1>
			<p>Feel free to add blog posts.</p>
      <p><a class="btn btn-primary btn-lg" href="/posts/new" role="button">
        Add Blog Posts
      </a></p>
		</div>
	</div>

	<div class="container">
		<div class="row">
      {{#each posts}}
        <div class="col-md-4">
          <div class="card">
          <img class="card-img-top" src="{{imageUrl}}">
          <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">{{content}}</p>
            <a href="/posts/{{_id}}" class="btn btn-primary">Read More...</a>
          </div>
        </div>
        </div>
      {{/each}}
		</div>
		<hr>
	</div>
</main>
