<div class="container mt-3">
  <div class="row">
    <div class="col">
      <img class="img-fluid post-img" src="{{post.imageUrl}}">
      <h1 class="display-5">{{post.title}}</h1>
      <p>{{post.content}}</p>
    </div>
  </div>
</div>
